/* Home */
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}

.card {
    background: var(--surface);
    padding: 12px;
    border-radius: var(--radius);
    flex-grow: 1;
    flex-shrink: 1;
}

.more {
    display: inline-block;
    margin-top: 6px;
}